<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Primeira Página</title>
</head>


<body>
{% for posts in post%}
    <h1>{{posts.titulo}}</h1>
    <h2>{{posts.texto}}</h2>
    <h3>{{posts.data_criacao}}</h3>
{%endfor%}

    <h2>Lista de Alunos não ordenada</h2>
    <ul>
        <li>Alessandro</li>
        <li>Admar</li>
        <li>Felipe</li>
    </ul>

    <h2>Lista de alunos ordenada</h2>
    <ol>
        <li>Alessandro</li>
        <li>Admar</li>
        <li>Felipe</li>
    </ol>
</body>

</html>