<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Primeira Página</title>
</head>


<body>
    {% for nomeIt in nome %}

    <h1>Olá
        {% if not nomeIt %}
            Visitante
        {% else %}
            {{ nomeIt}}
        {% endif %}
    </h1>
    {% endfor %}
    <h2>Lista de Alunos não ordenada</h2>
    <ul>
        <li>Alessandro</li>
        <li>Admar</li>
        <li>Felipe</li>
    </ul>

    <h2>Lista de alunos ordenada</h2>
    <ol>
        <li>Alessandro</li>
        <li>Admar</li>
        <li>Felipe</li>
    </ol>
</body>

</html>